alias ls='ls -h --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# some more ls aliases
alias ll='ls -alhF --color=auto'
alias la='ls -A --color=auto'
alias l='ls -CF --color=auto'
alias vls='/bin/ls'

# checkpatch
alias checkpatch='git diff | ~/local/linux/scripts/checkpatch.pl'
alias checkpatch-cmt='~/local/linux/scripts/checkpatch.pl -g HEAD'
